/*
 * CSS definitions for the OKHub Plugin
 */

.okhub-mapping-select {
  width: 300px;
}

.okhub-categories-container {
  vertical-align: top;
  width: 320px;
}

.okhub-settings-separator {
  font-weight:bold;
  margin-top: 10px;
  border-bottom: 1px solid #F0F0F0;
}

.okhub-mappings-section {
  border-bottom: 1px solid #F0F0F0;
}

#okhub-logo {
  float: right;
  position: relative;
  left: -50px;
  top: 5px;
}

.okhub-title-output-importer {
  margin-top:20px;
  margin-bottom:20px;
  border-bottom: 1px solid #F0F0F0;
}

.okhub-item-output-importer {
  margin-left:20px;
  margin-top:5px;
  margin-bottom:5px;
  font-style:italic;
}

.okhub-item-output-importer li {
  margin-left: 30px;  
  list-style: initial;  
}

.okhub-results-import {
  margin-top:20px;
  margin-bottom:20px;
  font-weight:bold;
  font-style: italic;
}

.okhub-edit-link {

}

/* Categoy pages */

.okhub-category-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.children {
  padding-left: 15px;
  margin: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

li.cat-item {
  margin-left: 5px;
  margin-bottom: 8px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding: 3px;
}

li.cat-item  a {
  margin-left:20px;
}

li.cat-item  p {
  margin-left:20px;
  margin-top: 0;
  margin-bottom: 0;
}

li.cat-item  p  a{
  margin: 0;
}

.okhub-category-list li ul.children {
  border: 1px solid whiteSmoke;
}

.okhub-import-settings-message {
  margin-top: 40px;
  border: 1px solid #E6E6E6;
  background-color: #BFCEF5;
  padding: 15px;
}

.okhub-view-settings-message {
  margin-top: 40px;
  border: 1px solid #E6E6E6;
  background-color: #B7E4B8;
  padding: 15px;
}

/* Admin pages */

.okhub-types {
  /* border: 1px solid silver; */
  /* margin: 5px 15px 2px; */
  /* padding: 1px 12px; */
}

.okhub-table  {
  width: 100%;
  padding: 1px 12px;
}

.okhub-table tbody {
  background: white;
}

.okhub-wrap  th {
  vertical-align: top;
  text-align: left;
  padding: 15px 20px;
  width: 25%;
}

.okhub-wrap h2 {
  margin-left: 15px;
}

.okhub-wrap  td {
  text-align: left;
  padding: 15px 20px;
}

.okhub-table  ul {
  margin: 0px 0px 20px 0px;
}

.okhub-table  li {
  margin: 5px 15px;
}

.okhub-button {
  margin-left: 15px;
}

.clear, #okhub p.submit, #okhub .okhub-wrap p, #okhub .okhub-wrap h3, div#tips {
  clear: both;
} 	

/*
.okhub-wrap  table{
  background: white;
  padding: 5px;
}
*/

.okhub-ui-tabs {  
  background: white;
  padding: 0px;
  margin: 0px 15px;
}

.okhub-ui-tabs-nav {
  background: #eee;
  border-bottom: 1px solid #ccc;
  height: 27px;
  margin: 20px 0;
  padding: 0;
}

.okhub-ui-tabs-nav li {
  display: block;
  float: left;
  margin: 0;
}

.okhub-ui-tabs-nav li a {
  padding: 4px 20px 6px;
  font-weight: bold;
}

.okhub-ui-tabs-nav li a {
  border-style: solid;
  border-color: #CCC #CCC #F9F9F9;
  border-width: 1px 1px 0;
  color: #464646;
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
  display: inline-block;
  padding: 4px 14px 6px;
  text-decoration: none;
  margin: 0 6px -1px 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.okhub-ui-tabs-nav li.okhub-ui-tabs-selected, .okhub-ui-tabs-nav li.ui-state-active {
  background: transparent;
  padding-bottom: 1px;
}

.okhub-ui-tabs-nav li.okhub-ui-tabs-selected a, .okhub-ui-tabs-nav li.ui-state-active a {
  background: #fff;
  border-width: 1px;
  color: #21759b;
}

.okhub-ui-tabs-panel {
  clear: both;
}

.okhub-wrap h3 {
  display: none;
}

.okhub-admin-col1 {
  border-right: 1px solid lightgrey;
  padding-right: 25px;
}

.okhub-admin-col2 {
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid lightgrey;
}

.okhub-admin-col3 {
  padding-left: 25px;
}

/* Notifications and error messages */

.okhub-notification {
  border: 1px solid lightBlue;
  background-color: ghostWhite;
  padding: 7px;
  margin: 15px 15px 0 0;
}

.okhub-warning {
  border: 1px solid lightCoral;
  background-color: lightGoldenrodYellow;
  padding: 7px;
  margin: 15px 15px 0 0;
}

.okhub-error {
  border: 1px solid red;
  background-color: lightSalmon;
  padding: 7px;
  margin: 15px 15px 0 0;
}

/* Hide boxes in quick edit area */

.inline-edit-okhub_documents .inline-edit-categories {
  display: none;
}

.inline-edit-okhub_organisations .inline-edit-categories {
  display: none;
}

/* Widget */

.okhub-widget-list {
  font-size: small;
}

.okhub-widget-item {
  margin-top: 3px;
  list-style: disc;
}

#okhub_widget_dialog {
  min-height: 550px;
}

.okhub-popup, .bMulti {
  background-color: #FFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 25px 5px #999;
  color: #111;
  display: none;
  min-width: 600px;
  padding: 25px;
  height: 550px;
}

.okhub-popup-content {
  height: 500px;
  overflow-y: auto;  
}

.button.b-close, .button.bClose {
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
  font: bold 131% sans-serif;
  padding: 0 6px 2px;
  position: absolute;
  right: -7px;
  top: -7px;
  background-color: #2b91af;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
}

.lt-ie9.bModal{
	background-color: #000
}

.okhub-source-logo {
  width: 25%;    
}

.okhub-source-widget {
    height: 30px;   
    padding: 5px 5px 5px 5px;
    border-width: 1px 3px 3px 1px;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 10px;
    margin: 0px 0px 0px 10px;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
}
  
.okhub-widget-source-description {
    margin-top: 10px;
    font-size: smaller;
}

#okhub-widget-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.okhub-widget-content {
    padding-top: 15px;
}

.okhub-widget-selected {
    border-width: 2px 1px 1px 2px;
    position: relative;
    top: 2px;
    opacity: 0.8;    
}

.okhub-widget-item-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

